{include file="common/loginHead"/}
<style>
.weixin-info{     border-bottom: 1px solid #ddd; }
</style>

                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>昵称</p>
                    </div>
                    <div class="weui-cell__ft">二师兄</div>
                </div>

                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>姓名</p>
                    </div>
                    <div class="weui-cell__ft">张三</div>
                </div>

                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>性别</p>
                    </div>
                    <div class="weui-cell__ft">男</div>
                </div>
                
                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>身份证</p>
                    </div>
                    <div class="weui-cell__ft">421181198866765435</div>
                </div>

                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>微信号</p>
                    </div>
                    <div class="weui-cell__ft">guoqf_online</div>
                </div>

                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>QQ号</p>
                    </div>
                    <div class="weui-cell__ft">270979964</div>
                </div>

                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>手机号</p>
                    </div>
                    <div class="weui-cell__ft">17665495306</div>
                </div>

                <div class="weui-cell weixin-info">
                    <div class="weui-cell__bd">
                        <p>地址</p>
                    </div>
                    <div class="weui-cell__ft">广东省深圳市布吉街道金蝉大厦</div>
                </div>
                











<!-- <div class="fly-home" style="background-image: url();">
    {if condition="$userInfo['avatar']"}
    <img src="{:imgUrl($userInfo['avatar'])}" alt="{$userInfo.username}">
    {else/}
    <img src="__STATIC__/user/images/avatar/default.png" alt="{$userInfo.username}">
    {/if}
    <h1>
        {$userInfo.username}
        {if condition="$userInfo['sex'] eq 1"}
        <i class="iconfont icon-nan"></i>
        {else/}
        <i class="iconfont icon-nv"></i>
        {/if}
    </h1>
    <p class="fly-home-info">
        <i class="iconfont icon-shijian"></i><span>{:toDate($userInfo['reg_time'],'Y-m-d')} 加入</span>
        {if condition="$userInfo['city']"}
        <i class="iconfont icon-chengshi"></i><span>{:toCity($userInfo['city'])}</span>
        {/if}
    </p>
    {if condition="$userInfo['motto']"}
    <p class="fly-home-sign">（ {$userInfo.motto}）</p>
    {/if}
</div>-->

{include file="common/footer"/}
