{include file="common/loginHead"/}
<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">审核中...</h2>
    <p class="weui-msg__desc">您的报名信息已提交成功，请耐心等待，工作人员会在24小时内审核并与您确认报读信息</p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="http://8003406.d.daodatong.com/RedPack/detail/id/949/rvwij/BBWGks/sid/8003406.html" class="weui-btn weui-btn_warn">领红包</a>
      <a href="/user/index/index" class="weui-btn weui-btn_primary">回首页</a>
    </p>
  </div>
</div>
{include file="common/footer"/}
