{include file="common/loginHead"/}
<style>
.weui-panel{ margin-top: 0;  }
</style>
		<div class="block_10"></div>
		<div class="block_10"></div>
		<div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{:url('index/enregister_pic')}">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>登记照(蓝底)</p>
                            </div>
                            <span class="weui-cell__ft"><span style="vertical-align:middle; font-size: 17px;">{$info.enregister_state}</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_10"></div>
		<div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{:url('index/idcard_pic')}">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>身份证正面</p>
                            </div>
                            <span class="weui-cell__ft"><span style="vertical-align:middle; font-size: 17px;">{$info.idcard_state}</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_10"></div>
		<div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{:url('index/f_idcard_pic')}">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>身份证反面</p>
                            </div>
                            <span class="weui-cell__ft"><span style="vertical-align:middle; font-size: 17px;">{$info.f_idcard_state}</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_10"></div>
		<div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{:url('index/graduate_pic')}">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>毕业证照片</p>
                            </div>
                            <span class="weui-cell__ft"><span style="vertical-align:middle; font-size: 17px;">{$info.graduate_state}</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_10"></div>
		<div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{:url('index/verification_pic')}">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>验证报告</p>
                            </div>
                            <span class="weui-cell__ft"><span style="vertical-align:middle; font-size: 17px;">{$info.verification_state}</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_10"></div>
		<div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{:url('index/work_pic')}">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>居住证明</p>
                            </div>
                            <span class="weui-cell__ft"><span style="vertical-align:middle; font-size: 17px;">{$info.work_state}</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_10"></div>

{include file="common/footer"/}
