{include file="common/loginHead"/}
<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">您还不是学员，无此信息</h2>
    <p class="weui-msg__desc"></p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="/user/index/join" class="weui-btn weui-btn_primary">我要报名</a>
      <a href="https://lzt.zoosnet.net/lr/chatpre.aspx?id=lzt28299655&cid=1524215053134506242337&lng=cn&sid=1524215053134506242337&p=http%3a//www.lirenjy.com/&r=http%3a//www.lirenjy.com/&msg=&d=1524215561397" class="weui-btn weui-btn_warn">我已报名</a>
    </p>
  </div>
</div>
{include file="common/footer"/}
