{include file="common/head"/}
<style>
.record{background-color: #f8f8f8;}
.navbar{ font-size:12px; }
.main-record-info{}
.record_info{}
.record_info h4{}
.record_info h4 i{}
.record_info ul{}
.record_info ul li{}
.record_info ul li span{}
.main-info-pic{}
.main-info-pic img{}
.main-info-pic a{}
</style>
<div class="show-info record">
	<div class="navbar">当前位置：首页 > 学历信息 </div>
	<div class="main-record-info">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 record_info">
			<h4>基础信息<i></i></h4>
			<ul>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
			</ul>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 record_info">
			<h4>学籍信息<i></i></h4>
			<ul>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
				<li>姓名：<span>张三</span></li>
			</ul>
		</div>
	</div>
	<div class="main-info-pic">
		<img src="/public/static/home/img/logo.png" />
		<a href="">学信网查询</a>
	</div>
</div>
{include file="common/footer"/}