{include file="common/head"/}

<style type="text/css">
	.lrcn{ margin-top: 30px; }
	.lrcn div{ display: inline-block; float: left; }

	.lrcn img{ display: block; margin:0 auto; }
	.lrcn div h2,.lrcn div p{    width: 115px;    display: block;    margin: 20px auto; }
	.lrcn div h2{ font-size: 24px; font-weight: bold; }
	.lrcn div p{ font-size: 14px; line-height: 28px;}
</style>


	<div class="news-ad"><img src="__HOME__/img/lrcn_banner.png" width="100%" /></div>


<div class="show-info">

	<div class="about-content" style="width:100%;">

		<h3>{$info.title}</h3>


			<div class="lrcn container">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img src="__HOME__/img/lrcn1.png" />
					<h2>服务特点</h2>
					<p>高质量助学服务<br />对提升目标负责<br />只做专业产品</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img src="__HOME__/img/lrcn2.png" />
					<h2>立人承诺</h2>
					<p>退费无风险保障<br />个性化助学服务<br />拼课送学定制</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img src="__HOME__/img/lrcn3.png" />
					<h2>毕业保障</h2>
					<p>签订学习合同<br />专人服务跟踪学习<br />学信网验证</p>
				</div>

			</div>


	</div>

</div>



<div style="clear: both;"></div>

{include file="common/footer"/}